html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
/* open-sans-regular - latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
  /* open-sans-500 - latin-ext_cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v26-latin-ext_cyrillic-ext-500.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-regular - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
  /* roboto-700 - latin_cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin_cyrillic-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}
/*header styles*/
.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.header__wrapper {
    background: url(../img/png/office.png) no-repeat center;
    background-size: cover;
}
.nav__item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav__link, .active__link {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 46px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(26, 26, 26, 0.75);
}
.active__link {
    color: #FF5641;
    text-decoration: none;
}
.active__link:hover {
    color: #FF5641;
    text-decoration: none;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
    color: #FF5641;
    text-decoration: none;
}
.header__item {
    display: flex;
}
.header__link {
    padding-right: 15px;
}
.header__link:last-child {
    padding-right: 0;
}
a.phone {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #1A1A1A;
}
a.phone:hover {
    text-decoration: none;
    color: #1A1A1A;
}
img.logotipchik {
    display: block;
    width: 100%;
    max-width: 590px;
}
a.mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #1A1A1A;
}
a.mail:hover {
    text-decoration: none;
    color: #1A1A1A;
}
.contacts__phone {
    position: relative;
    margin-left: 20px;
}
.contacts__phone:before {
    content: url(../img/png/telephone.png);
    position: absolute;
    left: -23px;
    bottom: -3px;
}
.contacts__mail {
    position: relative;
    margin-left: 20px;
}
.contacts__mail:before {
    content: url(../img/png/konvert.png);
    position: absolute;
    left: -23px;
    bottom: -1px;
}
.header__title {
    padding-top: 240px;
    
}
.header__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 38px;
    padding-top: 53px;
    text-align: justify;
}
.header__scroll-down {
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 39px;
    position: relative;
    transform: translateY(5px);
    transition-duration: 0.3s;
    vertical-align: middle;
}
/*activity styles*/
.section__activity {
    padding-bottom: 100px;
}
.activity__title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase; 
    color: #1A1A1A;
    padding: 144px 0 150px;
}
.activity__box {
    cursor: pointer;
    height: 255px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.activity__box:hover, .activity__box:active {
    background-color: #eae9f0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.activity__pic {
    padding-top: 78px;
    padding-bottom: 35px;
    align-items: center;
    text-align: center;
}
.activity__text {
    width: 100%;
    align-items: center;
    text-align: center;
}
/*advantages styles*/
.advantages {
    background: url(../img/png/officeback.png) center no-repeat;
    background-size: cover;
}
.advantages__title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1A1A1A;
    padding: 144px 0 150px;
}
.advantages__box {
    padding-bottom: 200px;
}
.advantages__pic {
    padding-bottom: 70px;
    align-items: center;
    text-align: center;
}
.advantages__text {
    font-family: 'Open Sans';
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #1A1A1A;
}
.advantages__subtext {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1A1A1A;
}
/*footer styles*/
.footer__title {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 31px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #1A1A1A;
    padding: 96px 0 87px;
}
.footer__name {
    margin-top: 30px;
}
.footer__email {
    margin-top: 30px;
}
.footer__message {
    margin-bottom: 45px;
    margin-top: 30px;
}
.foot__item-button {
    color: #FFFFFF;
    text-decoration: none;
    width: auto;
    background: linear-gradient(91.15deg, #FF5641 40.07%, #FF7039 100%);
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 22px;
    padding: 5px 30px 5px 30px;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}
.foot__item-button:hover, .foot__item-button:active {
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: 0 7px 12px #d46115;
}
input {
    border: 1px solid #C5D3DB;
    outline: none;
    width: 100%;
    max-width: 370px;
    min-width: 240px;
}
textarea {
    border: 1px solid #C5D3DB;
    outline: none;
    width: 100%;
    max-width: 770px;
    min-width: 240px;
    height: 180px;
}
.footer__up {
    padding-bottom: 30px;
}
.footer__bottom {
    background: url(../img/png/cityback.png) center no-repeat;
    background-size: cover;
}
.footer__bottom-box {
    padding-top: 60px;
    padding-bottom: 70px;
}
.footer__contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    align-items: center;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.footer__logo {
    padding-bottom: 20px;
}
.cont-address {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-address:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-mobile {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-mobile:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-mail {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-mail:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-site {
    text-decoration: none;
    color: #FFFFFF;
}
.cont-site:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.footer__bottom-copyrights {
    background: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #DCDCDC;
    padding: 7px 0;
}